h1 {
  color: #2f4f4f;
  margin-bottom: 10px;
  font-weight: bold;
}
.title {
  font: 32px Helvetica, Arial, sans-serif;
  padding: 5px 10px;
}
nav ul {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

nav ul li {
  /*specificity here is 0 0 3*/
  display: inline-block;
}

nav ul li a {
  /*specificity here is 0 0 4*/
  background: #2f4f4f;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

a.featured {
  /*specificity here is 0 1 1*/
  background: orange;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ccc;
  color: rgb(56, 56, 56);
}
.footer a {
  color: initial;
  text-decoration: none;
}
