:root {
  font-size: calc(0.5em + 1vw);
  font-family: "Open Sans", sans-serif;
}
.panel {
  font-size: 1rem;
  border-radius: 1em;
  padding: 1em;
  border: 1px solid #ccc;
}

.panel > h2 {
  margin-top: 0;
  font-size: 1em;
  text-transform: uppercase;
}

.panel.large {
  font-size: 1.2rem;
}

.panel.small {
  font-size: 0.8rem;
}
/* @media screen and (min-width: 800px) {
  :root {
    font-size: 0.875em;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
} */

.viewport {
  width: 100vmin;
  height: 100vmin;
  background: #ccc;
}
